@import './colors';



.user-card {
    background: linear-gradient(to top,$darkGrey ,$lightGrey 5%,$lightGrey 95%,$darkGrey);
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    border: 1px solid $darkGrey;
    cursor: auto;
    &__button {
        color: $darkGrey;
        font-size: 1rem;
        background: none;
        border: none;
        margin: 0%;
        padding: 0%;
    }
    &__img {
        margin-right: 0.5rem;
        border-radius: 50%;
        box-shadow:  3px 3px 5px $darkGrey
    }  
    &__info {
        margin-top: 1rem;
        margin-left: 1rem;
        &__name {
            color: $darkGrey;
            margin-bottom: 2rem;
        }
        &__detail {
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
        }        
    } 
    &__vertical-rl {
        writing-mode: vertical-rl;
        color: white;
        display: inline-block;
        background-color: tomato;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
