@import "./colors";

.user-card {
  background: linear-gradient(
    to top,
    $darkGrey,
    $lightGrey 5%,
    $lightGrey 95%,
    $darkGrey
  );
  width: 100%;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 48px;
  margin-bottom: 16px;
  border: 1px solid $darkGrey;
  cursor: auto;
  &__button {
    color: $darkGrey;
    font-size: 16px;
    background: none;
    border: none;
  }
  &__img {
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px $darkGrey;
  }
  &__info {
    margin-top: 16px;
    margin-left: 16px;
    &__name {
      color: $darkGrey;
      margin-bottom: 32px;
    }
    &__detail {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  &__vertical-rl {
    writing-mode: vertical-rl;
    color: white;
    display: inline-block;
    background-color: tomato;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
