.App {
    margin: 2rem;
}

.letter-btn {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(169, 169, 169);
    outline: none;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.25rem;
    position: relative;
}

.letter-btn i {
    position: absolute;
    font-size: 0.6rem;
    right: 5%;
    bottom: 3%;
}
.letter-btn:focus {
    outline: none;
}

.active {
    border-style: solid solid none solid;
    font-weight: bold;
    background: linear-gradient(to top,rgb(238, 238, 238) 85%,rgb(169, 169, 169));
}



.contacts-list {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(169, 169, 169);
    border-style: none solid solid solid;
    border-radius: 0px 0px 15px 15px;
}

.contact {
    border-bottom: 2px dashed rgb(169, 169, 169);
    width:49%;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .contact {
        width:100%;
    }
  }
